body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

div#tablero {
    width: 310px;
    height: 310px;
    padding: 0px;
    border: 7px solid #999;
    background-color: white;
    margin: 20px auto;
    cursor: pointer;
}

div#tablero div {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px;
    font-size: 90px;
    text-align: center;
}

#celda1, #celda2, #celda3, #celda4, #celda5, #celda6 {
    border-bottom: 5px solid black;
}

#celda1, #celda2, #celda4, #celda5, #celda7, #celda8 {
    border-right: 5px solid black;
}

div#tablero>div:hover {
    background-color: #ddd;
}