.cubo {
    float: left;
    margin-left:calc(50% - 150px);
    box-shadow: 5px 5px 5px grey;
    height: 300px;
    width: 300px;
}

#uno {
    background-color: red;
}

#dos {
    background-color: blue;
}

#tres {
    background-color: green;
}

#cuatro {
    background-color: yellow;
}

.contenedor {
    float: left;
    text-align: center;
    margin-top: 10px; 
    margin-left: 38%;
}
.cuadro {
    float: left;
    width: 25%;
}