body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#uno {
    width: 50%;
    float: left;
    height: 50%;
    background-color: blue;
}

#dos {
    width: 50%;
    float: left;
    height: 50%;
    background-color: green;
}

#tres {
    width: 50%;
    float: left;
    height: 50%;
    background-color: yellow;
}

#cuatro {
    width: 50%;
    float: left;
    height: 50%;
    background-color: red;
}



#boton1 {
    margin-top: 43%;
    margin-left: -50%;
    overflow: visible;
    position: relative;
}

#boton2 {
    margin-left: 96.5%;
    margin-top: 20%;
    overflow: visible;
    position: relative;
}

#boton3{
    overflow: visible;
    position: relative;
    margin-left: 97%;
    margin-top: 20%;
}

#boton4 {
    margin-top: -15%;
    margin-left: 50%;
    overflow: visible;
    position: relative;
}