body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#uno {
    width: 50%;
    float: left;
    height: 50%;
    background-color: blue;
    position: relative;
}

#dos {
    width: 50%;
    float: left;
    height: 50%;
    background-color: green;
    position: relative;
}

#dos textarea {
    float:left;
}

#tres {
    width: 50%;
    float: left;
    height: 50%;
    background-color: yellow;
    position: relative;
}

#cuatro {
    width: 50%;
    float: left;
    height: 50%;
    background-color: red;
    position: relative;
}

#botonRojo {
    height:50px;
    width:150px;
    top: -25px;
    left:calc(50% - 75px);
    position: absolute;
}

#botonAzul {
    height:50px;
    width:150px;
    top: -25px;
    left: calc(50% - 75px);
    position: absolute;
}

#botonVerde {
    height:50px;
    width:150px;
    top: calc(50% - 75px);
    left:-75px;
    position: absolute;
}

#botonAmarillo {
    height:50px;
    width:150px;
    top: calc(50% - 75px);
    left: -75px;
    position: absolute;
}