ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

video {
    height: auto;
    width: 800px;
    position:absolute;
    top:0;
    left:0;
}

#controladores {
    position:absolute;
    top: 460px;
    left: calc(25% - 240px);
    width:480px;
    
}
.container {
    position:relative;
    width:100%;
    height:auto;
    margin-top: 2%;
}

#barraVolumen {
    position:absolute;
    left:calc(50% - 240px);
    width:480px;
    visibility: hidden;
}

#barraVideo {
    position:absolute;
    left:calc(50% - 240px);
    width:480px;
    top: -40px;
}

#publi {
    top: 100px;
    left: calc(50% - 150px);
    width: 300px;
    height: 250px;
    background-image: url(img/publi.jpeg);
}

#salirPubli {
    color: black;
    float: right;
    margin-right: 10px;
    z-index: 1000;
}

#videoFull {
  z-index: -1;
}

#oculto {
    width: 50%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#columna {
    float: left;
    width: 50%;
    
}

#columnaR {
    float: right;
    width: 40%;
}

#salirPubli {
    visibility: hidden;
}

#tituloVideo {
    z-index: 100;
    color: white;
    margin-left: 40px;
}